* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

#app {
  display: flex;
}

.content {
  overflow: auto;
  flex: 1;
  z-index: 1;
  background: #F6F7FB;
}

/* nunito-300italic - latin */

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/nunito-v16-latin-300italic.eot?80ecc5532f3c86025882b722aebed558);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-300italic.eot?80ecc5532f3c86025882b722aebed558) format("embedded-opentype"), url(/fonts/nunito-v16-latin-300italic.woff2?a7f2ebcc0802bbc5a7caefbb4b4afdb6) format("woff2"), url(/fonts/nunito-v16-latin-300italic.woff?cd418ccb474d0cbea073f0903fb17670) format("woff"), url(/fonts/nunito-v16-latin-300italic.ttf?2947860a475efb435035f06418a4d180) format("truetype"), url(/fonts/nunito-v16-latin-300italic.svg?6690f5e55a92552a23b33cbba45fb90c) format("svg");
  /* Legacy iOS */
}

/* nunito-300 - latin */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/nunito-v16-latin-300.eot?ad15dd4fa21ab5d1e8c854de7d803887);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-300.eot?ad15dd4fa21ab5d1e8c854de7d803887) format("embedded-opentype"), url(/fonts/nunito-v16-latin-300.woff2?0f70e8aab2f979e0d3d2af01249d373d) format("woff2"), url(/fonts/nunito-v16-latin-300.woff?05f3843fa45dab20ec16cd0e5c860e02) format("woff"), url(/fonts/nunito-v16-latin-300.ttf?50a757f7071f9ff360e2cef4725a04ef) format("truetype"), url(/fonts/nunito-v16-latin-300.svg?0def9fafdf2e6b0acb16c1b15d6acac5) format("svg");
  /* Legacy iOS */
}

/* nunito-regular - latin */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/nunito-v16-latin-regular.eot?2fae1e2418251b68fe5d0505ab93dd5c);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-regular.eot?2fae1e2418251b68fe5d0505ab93dd5c) format("embedded-opentype"), url(/fonts/nunito-v16-latin-regular.woff2?bcf84d6cb8a0ac214c8c14ba9af834f3) format("woff2"), url(/fonts/nunito-v16-latin-regular.woff?cb632c9fe211ba2c2bf1564c9a9295cc) format("woff"), url(/fonts/nunito-v16-latin-regular.ttf?df8c4bee41b6ca0ed2b7b71456ed7fbb) format("truetype"), url(/fonts/nunito-v16-latin-regular.svg?6f77895bde2bd5ab254c72c4edf33a85) format("svg");
  /* Legacy iOS */
}

/* nunito-600 - latin */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/nunito-v16-latin-600.eot?f4987ff092474716d300011ac63dbcaa);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-600.eot?f4987ff092474716d300011ac63dbcaa) format("embedded-opentype"), url(/fonts/nunito-v16-latin-600.woff2?bdfdc8c6f6ff4c7cbbeaf7d19a893519) format("woff2"), url(/fonts/nunito-v16-latin-600.woff?8a0e6eaa159687165958fd0b112273a8) format("woff"), url(/fonts/nunito-v16-latin-600.ttf?5082f31e24bdb85010141a527e473b3e) format("truetype"), url(/fonts/nunito-v16-latin-600.svg?76fd726bf54ce3ce33be324abc0e7533) format("svg");
  /* Legacy iOS */
}

/* nunito-600italic - latin */

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/nunito-v16-latin-600italic.eot?1dbec1c45a2b5c1ad98975b753593fd2);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-600italic.eot?1dbec1c45a2b5c1ad98975b753593fd2) format("embedded-opentype"), url(/fonts/nunito-v16-latin-600italic.woff2?76238ad99d2b75687c29a86747d16cbe) format("woff2"), url(/fonts/nunito-v16-latin-600italic.woff?e51c5f533407ac2e4839dfc52fd667c2) format("woff"), url(/fonts/nunito-v16-latin-600italic.ttf?140c4c367843ac55d684688d22e86c37) format("truetype"), url(/fonts/nunito-v16-latin-600italic.svg?bd207cb20f0fb5dd3d63b1b7a826abee) format("svg");
  /* Legacy iOS */
}

/* nunito-700 - latin */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/nunito-v16-latin-700.eot?df7e79af617f98cd3b95d320e8b2a1af);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-700.eot?df7e79af617f98cd3b95d320e8b2a1af) format("embedded-opentype"), url(/fonts/nunito-v16-latin-700.woff2?412073df419ad5f6f8f2ea76eb4aced9) format("woff2"), url(/fonts/nunito-v16-latin-700.woff?7c472b19cb573f537bad8ef62ca917ac) format("woff"), url(/fonts/nunito-v16-latin-700.ttf?2cc22f9c0cf217cbfc371f3b74992305) format("truetype"), url(/fonts/nunito-v16-latin-700.svg?9adda805039350f57502f213b8365c60) format("svg");
  /* Legacy iOS */
}

/* nunito-700italic - latin */

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/nunito-v16-latin-700italic.eot?ff661a0d939bc52900703b186caa1150);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-700italic.eot?ff661a0d939bc52900703b186caa1150) format("embedded-opentype"), url(/fonts/nunito-v16-latin-700italic.woff2?88411faf33e2d2841a72099fd2de21cf) format("woff2"), url(/fonts/nunito-v16-latin-700italic.woff?3460b2f99a5f48c2327c708007dc74db) format("woff"), url(/fonts/nunito-v16-latin-700italic.ttf?3959b091173431fcaf96f750a9565d6a) format("truetype"), url(/fonts/nunito-v16-latin-700italic.svg?08271196a5c3059c33ef2d9bc1a55044) format("svg");
  /* Legacy iOS */
}

/* nunito-800italic - latin */

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/nunito-v16-latin-800italic.eot?6cbc2f6e065862eee9cfe4ed78d5d96b);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-800italic.eot?6cbc2f6e065862eee9cfe4ed78d5d96b) format("embedded-opentype"), url(/fonts/nunito-v16-latin-800italic.woff2?b52c7d5075d9ace42ed15cbb8cd30f4a) format("woff2"), url(/fonts/nunito-v16-latin-800italic.woff?3dee5d5d1164b860089e0f2ff9469fb5) format("woff"), url(/fonts/nunito-v16-latin-800italic.ttf?41b9a6615991501e055a95240a454f2c) format("truetype"), url(/fonts/nunito-v16-latin-800italic.svg?915489f665e4a3ff322874335fdb02dd) format("svg");
  /* Legacy iOS */
}

/* nunito-800 - latin */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/nunito-v16-latin-800.eot?0b2c6de8e3de98cb06faedf81d9b979a);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/nunito-v16-latin-800.eot?0b2c6de8e3de98cb06faedf81d9b979a) format("embedded-opentype"), url(/fonts/nunito-v16-latin-800.woff2?c69d5826fe109706bded0c4198a71f3b) format("woff2"), url(/fonts/nunito-v16-latin-800.woff?d16a6115bb374bf725162fdbe9742398) format("woff"), url(/fonts/nunito-v16-latin-800.ttf?b17de5adcfdf80b58be0bfbc15c2185f) format("truetype"), url(/fonts/nunito-v16-latin-800.svg?615854e2ab4a8548e46152d7ac578d86) format("svg");
  /* Legacy iOS */
}

.dashboard__container {
  padding: 100px 100px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Nunito";
}

.accounts__container {
  padding: 100px 50px;
  font-family: "Nunito";
}

.accounts__account {
  margin-bottom: 37.5px;
  padding: 25px;
  display: flex;
  background: #FFFFFD;
  align-items: center;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgba(45, 46, 48, 0.15);
}

.accounts__profile-picture {
  background: #F28C4A;
  height: 60px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  color: #FFFFFD;
  margin-right: 25px;
}

.accounts__profile-picture {
  font-size: 27px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .accounts__profile-picture {
    font-size: calc(27px + 11 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .accounts__profile-picture {
    font-size: 38px;
  }
}

.accounts__details {
  padding-right: 50px;
  border-right: 1px solid rgba(45, 46, 48, 0.25);
  flex: 1;
}

.accounts__name,
.accounts__amount-number,
.accounts__date {
  text-transform: capitalize;
  font-weight: 600;
}

.accounts__name,
.accounts__amount-number,
.accounts__date {
  font-size: 17px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .accounts__name,
  .accounts__amount-number,
  .accounts__date {
    font-size: calc(17px + 7 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .accounts__name,
  .accounts__amount-number,
  .accounts__date {
    font-size: 24px;
  }
}

.accounts__description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.accounts__amount-label,
.accounts__description,
.accounts__date-label {
  font-style: italic;
}

.accounts__amount-label,
.accounts__description,
.accounts__date-label {
  font-size: 13px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .accounts__amount-label,
  .accounts__description,
  .accounts__date-label {
    font-size: calc(13px + 5 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .accounts__amount-label,
  .accounts__description,
  .accounts__date-label {
    font-size: 18px;
  }
}

.accounts__amount {
  width: 10%;
}

.accounts__last-updated {
  width: 22%;
}

.accounts__amount,
.accounts__last-updated {
  padding: 0 50px;
  border-right: 1px solid rgba(45, 46, 48, 0.25);
}

.accounts__actions {
  display: flex;
  padding-left: 50px;
}

.accounts__action {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounts__action--view {
  background: #728AE2;
}

.accounts__action--edit {
  background: #F28C4A;
  margin: 0 1.25em;
}

.accounts__action--delete {
  background: #F55677;
}

.accounts__action svg {
  fill: #FFFFFD;
}

.nav {
  width: 17vw;
  min-width: 300px;
  height: 100vh;
  position: relative;
  background: #323659;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: #FFFFFD;
  transform: translateX(100%);
}

.nav__logos {
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav__logos svg {
  fill: #FFFFFD;
}

.nav__links {
  margin-top: 100px;
}

.nav__link-item {
  margin-left: 50px;
  list-style: none;
  border-top-left-radius: 100vw;
  border-bottom-left-radius: 100vw;
  display: flex;
  transition: background 0.2s cubic-bezier(0.85, 0.15, 0.15, 0.85), box-shadow 0.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
  position: relative;
}

.nav__link-item--active {
  background: #F55677;
  box-shadow: 6px 6px 12px #2d304b, -6px -6px 12px rgba(255, 255, 253, 0.07);
}

.nav__link-item:hover .navsub__item {
  opacity: 1;
}

.nav__link-item:hover:not(.nav__link-item--active) {
  background: #728AE2;
  box-shadow: 6px 6px 12px #2d304b, -6px -6px 12px rgba(255, 255, 253, 0.07);
}

.nav__link-item:not(:last-child) {
  margin-bottom: 1em;
}

.nav__link {
  font-family: "Nunito";
  padding: 0.5em 0 0.5em 25px;
  display: flex;
  align-items: center;
  flex: 1;
  color: #FFFFFD;
}

.nav__link {
  font-size: 16px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .nav__link {
    font-size: calc(16px + 6 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .nav__link {
    font-size: 22px;
  }
}

.nav__link .nav__svg {
  color: currentColor;
  fill: currentColor;
  width: 0.8em;
  margin-right: 0.5em;
  transition: transform 0.2s cubic-bezier(0.85, 0.15, 0.15, 0.85), margin-right 0.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

.nav__link:hover .nav__svg {
  transform: scale(1.15) rotate(15deg);
  margin-right: 0.7em;
}

.nav__love {
  width: 50%;
  align-self: center;
}

.navsub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navsub__item {
  fill: #FFFFFD;
  opacity: 0;
  margin-right: 1em;
  width: 1em;
  display: flex;
  transition: transform 0.2s cubic-bezier(0.85, 0.15, 0.15, 0.85), opacity 0.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

.navsub__item:hover {
  transform: scale(1.15) rotate(15deg);
}

.dashboard-featured-account {
  width: calc(40% - 50px);
  padding: 25px;
  margin-right: 50px;
  background: #FFFFFD;
  background-image: url(/images/brutoloon.svg?74521707a84e022c615bb85042b0fad7);
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: right bottom;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgba(45, 46, 48, 0.15);
}

.dashboard-featured-account__select-account {
  all: unset;
}

.dashboard-featured-account__amount {
  margin: 25px 0;
  color: #F28C4A;
}

.dashboard-featured-account__amount {
  font-size: 26px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-featured-account__amount {
    font-size: calc(26px + 10 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-featured-account__amount {
    font-size: 36px;
  }
}

.dashboard-featured-account__amount span {
  font-size: 34px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-featured-account__amount span {
    font-size: calc(34px + 14 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-featured-account__amount span {
    font-size: 48px;
  }
}

.dashboard-featured-account__description {
  max-width: 50%;
  font-style: italic;
}

.dashboard-featured-account__description {
  font-size: 9px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-featured-account__description {
    font-size: calc(9px + 3 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-featured-account__description {
    font-size: 12px;
  }
}

.dashboard-netto-bruto {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(/images/netto-bruto.svg?830288fb1284b9fca82384e3018cb1f9), linear-gradient(to right, #F55677, #A9498E);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 78%, auto auto;
  color: #FFFFFD;
  padding: 25px 0;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgba(45, 46, 48, 0.15);
}

.dashboard-netto-bruto__title {
  text-align: center;
  padding-bottom: 0.5em;
}

.dashboard-netto-bruto__data {
  display: flex;
  flex: 1;
}

.dashboard-netto-bruto__data > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.dashboard-netto-bruto__data > div:first-child {
  border-right: 1px solid #FFFFFD;
}

.dashboard-netto-bruto__netto h2,
.dashboard-netto-bruto__bruto h2 {
  position: relative;
  font-weight: 700;
}

.dashboard-netto-bruto__netto h2,
.dashboard-netto-bruto__bruto h2 {
  font-size: 26px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-netto-bruto__netto h2,
  .dashboard-netto-bruto__bruto h2 {
    font-size: calc(26px + 10 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-netto-bruto__netto h2,
  .dashboard-netto-bruto__bruto h2 {
    font-size: 36px;
  }
}

.dashboard-netto-bruto__netto h2 > span,
.dashboard-netto-bruto__bruto h2 > span {
  font-size: 40px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-netto-bruto__netto h2 > span,
  .dashboard-netto-bruto__bruto h2 > span {
    font-size: calc(40px + 17 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-netto-bruto__netto h2 > span,
  .dashboard-netto-bruto__bruto h2 > span {
    font-size: 57px;
  }
}

.dashboard-netto-bruto__netto h2::before,
.dashboard-netto-bruto__bruto h2::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  font-style: italic;
  font-weight: 300;
}

.dashboard-netto-bruto__netto h2::before,
.dashboard-netto-bruto__bruto h2::before {
  font-size: 9px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-netto-bruto__netto h2::before,
  .dashboard-netto-bruto__bruto h2::before {
    font-size: calc(9px + 3 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-netto-bruto__netto h2::before,
  .dashboard-netto-bruto__bruto h2::before {
    font-size: 12px;
  }
}

.dashboard-netto-bruto__netto h2::before {
  content: "Netto";
}

.dashboard-netto-bruto__bruto h2::before {
  content: "Bruto";
}

.dashboard-holiday {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 50px 50px;
  background: #FFFFFD;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgba(45, 46, 48, 0.15);
}

.dashboard-holiday__day {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dashboard-holiday__day-name {
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.dashboard-holiday__day-name {
  font-size: 22px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-holiday__day-name {
    font-size: calc(22px + 10 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-holiday__day-name {
    font-size: 32px;
  }
}

.dashboard-holiday__shape {
  position: relative;
  background: #728AE2;
  width: 100%;
  height: 5px;
}

.dashboard-holiday__shape::after {
  content: "";
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background: #FFFFFD;
  border: 0.3em solid #728AE2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-holiday__shape--first {
  width: 50%;
  margin-left: auto;
}

.dashboard-holiday__shape--first::after {
  left: 0;
}

.dashboard-holiday__shape--last {
  width: 50%;
  margin-right: auto;
}

.dashboard-holiday__shape--last::after {
  right: 0;
  left: unset;
  transform: translate(50%, -50%);
}

.dashboard-holiday__date {
  padding-top: 1em;
}

.dashboard-holiday__date {
  font-size: 16px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .dashboard-holiday__date {
    font-size: calc(16px + 6 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .dashboard-holiday__date {
    font-size: 22px;
  }
}

.dashboard-holiday__day--today .dashboard-holiday__day-name {
  font-weight: 700;
  transform: scale(1.1875) translateY(-3px);
}

.dashboard-holiday__day--today .dashboard-holiday__shape::after {
  width: 1.3em;
  height: 1.3em;
  border: 0.4em solid #F55677;
}

.dashboard-holiday__day--today .dashboard-holiday__shape .dashboard-holiday__today-type {
  position: absolute;
  left: calc(50% + 1em);
  padding: 0.5em 1em;
  color: white;
  background: #F55677;
  font-size: 0.7em;
  transform: translateY(-40%);
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  z-index: 1;
}

.dashboard-holiday__day--today .dashboard-holiday__date {
  font-weight: 700;
  transform: scale(1.1875) translateY(3px);
}

