.dashboard-featured-account {
	width: calc(40% - #{$base-offset});
	padding: $base-offset/2;
	margin-right: $base-offset;
	background: $color-white;
	background-image: url(../../../media/icons/brutoloon.svg);
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: right bottom;

	@include card;
}

.dashboard-featured-account__select-account {
	all: unset;
}

.dashboard-featured-account__amount {
	margin: $base-offset/2 0;
	color: $color-orange;

	@include font-size(26px, 36px);

	& span {
		@include font-size(34px, 48px);
	}
}

.dashboard-featured-account__description {
	max-width: 50%;
	font-style: italic;

	@include font-size(9px, 12px);
}
