* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}

#app {
    display: flex;
}

.content {
    overflow: auto;
    flex: 1;
    z-index: 1;
    background: $color-blue-light;
}