$header-height: 9vh;
$base-offset: 50px;
$animationBezier: cubic-bezier(.85,.15,.15,.85);

$color-black: #2D2E30;
$color-white: #FFFFFD;
$color-blue-dark: #323659;
$color-blue-neutral: #728AE2;
$color-blue-light: #F6F7FB;
$color-orange: #F28C4A;
$color-pink: #F55677;
$color-purple: #A9498E;